
<body>

<h1> Stupid coaching</h1>

<form class="barre" action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask anything">
  <input type="submit" value="Ask !">
</form>

</body>
