// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
   background: #a2ff96;
 }

div {
  box-shadow: 20px 20px 50px rgb(169, 201, 231);
  background :rgb(255, 150, 215) ;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 10px 10px 10px ;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 h1 {
   color: rgb(231, 169, 231);;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;

 }
